html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: #c62828;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  margin:auto;
  padding: 4px 8pxpx;
  width: 160px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #c63838;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}



.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #a72f2f;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 320px;
  height: 240px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #e6e6e6;
  border-radius: 16px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.loginInputContainer {
  margin: 5px;
  margin-bottom: 20px;
}

.loginInput {
  background-color: #ffffff;
}

.formButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

/* --------------------------------------------------------------------------------
Logo
-------------------------------------------------------------------------------- */

.fullLogoContainer{
  margin: auto;
  width: 320px;
  padding-bottom: 40px;
}